*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

header  {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    margin: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-header {

    width: 1340px;
}

nav {
    width: 703px;
}

ul {
    display: flex;
}

li {
    padding: 35px;
    list-style: none;
}

a {
    text-decoration: none;

}

.text {
    margin-left: 277px;
    color: blue;
    font-size: 20px;
    display: block;
    justify-content: center;
    
}

div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

img {
    width: 100%;
    margin-left: 5px;
}
